<body>
    <div class="main">
        <div class="info">
            <div class="top">
                <div class="text">
                <h1>{{selectedBC.Name}}</h1>
                <p><span class="bold-text">Location:</span> {{selectedBC.location}}</p>
                
                <p><span class="bold-text">Country:</span> {{selectedBC.country}}</p>
                <p><span class="bold-text">Type:</span> {{selectedBC.type}}</p>
                <p><span class="bold-text">Work Hour:</span> {{selectedBC.workHour}}</p>
                <p><span class="bold-text">Transport Connection:</span> {{selectedBC.transportConnections}}</p>
                <p><span class="bold-text">Capacity:</span> {{selectedBC.capacity}}</p>
                </div>
                <div class="mainImg">
                    <img src="../../assets/images/srbija.jpeg" class="zastava">
                    <div class="contact">
                        <p><span class="bold-text">Email:</span>{{selectedBC.email}}</p>
                        <p><span class="bold-text">Phone:</span>{{selectedBC.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>{{selectedBC.description}}</p>
                <!--<p *ngIf="this.isUserLoged$ | async">Ulogovan je user.</p>-->
                
            </div>
            <div class="comments">
                <div *ngFor="let p of arrReview$ | async" >
                    <app-review-bc [review]="p"></app-review-bc>
                </div> 
            </div>
        </div>
        <div class="slike">
            <ngx-slick-carousel class="carousel" [config]="slickCarouselConfig" #slickModal>
                <div *ngFor="let image of images" class="slika">
                    <img *ngIf="selectedImage === image" src="{{image}}" alt="Slide">
                </div>
            </ngx-slick-carousel>
            <div class="custom-navigation">
                <button (click)="previousImage()">❮</button>
                <button (click)="nextImage()">❯</button>
            </div>
        </div>
    </div>
</body>
